img {
    width: 100%;
    height: 100%;
}

.container {
    background: linear-gradient(
        149deg,
        rgb(247, 0, 255) 0%,
        rgb(255, 145, 0) 100%
      );
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
}

.slider_wrapper {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.slider_items {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slider_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
}

.slider_item:nth-of-type(even) {
    background-color: rgb(250, 246, 212);
}


.item a {
    background: none;
    border: none;
}

a.item_prev,
.item::before  {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}

a.item_next,
.item::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}


.item_prev,
.item_next {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
}

.slider_wrapper::before,
.slider_wrapper::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}

.items-nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  }

.item_nav_link {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 10px 0 10px;
}



.item_nav_link:before,
.item_nav_link:after {
    content: "";
    background: #bd9b83;
}

.item_nav_link:target :before,
.item_nav_link:target :after{
    background-color: #bd9b83;
}

.info-wrapper{
    max-width: 808px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px 15px;
}

.description-wrapper{
    margin-top: 15px; 
    display: flex;
    align-items: center;
    max-width: 70%;
}

.text{
    font-size: 1em;
  align-items: center;
}




